.ResetTime {
  display: grid;
  letter-spacing: 0.6px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  width: 100%;
  position: absolute;
  bottom: 90px;
  justify-items: center;
}

.ResetTimeButton {
  background-color: rgba(240, 255, 255, 0.6);
  color: #393f3f;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border: none;
  transition: 0.5s;
}

.ResetTimeButton:hover {
  transform: scale(1.1);
}
