.RemoveTimezoneButton {
  margin: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: #393f3f;;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
}

.RemoveTimezoneButton:hover {
  transform: scale(1.4);
}