.NewTimezoneButton {
  visibility: visible;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(240, 255, 255, 0.6);
  color: #393f3f;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  transition: 0.5s;
}

.NewTimezoneButton:hover {
  transform: scale(1.2);
}
