.SelectBox {
  visibility: visible;
  position: absolute;
  top: 20px;
  right: 120px;
  width: 35%;
  height: fit-content;
  padding: 20px;
  background-color: rgba(240, 255, 255, 0.9);
  width: 35%;
  color: #393f3f;
  border: none;
  text-align: center;
}

.Label {
  font-size: 20px;
  color: #393f3f;
  font-weight: bold;
  margin-bottom: 15px;
}