.SelectBox {
  visibility: visible;
  position: absolute;
  top: 20px;
  right: 120px;
  width: 35%;
  height: 60px;
  background-color: rgba(240, 255, 255, 0.6);
  color: #393f3f;
  border: none;
  text-align: center;
}
