.Add {
  margin: 5px;
  background-color: #9ac49f; /* Green */
  border: none;
  color: #393f3f;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-style: bold;
  cursor: pointer;
  transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
}

.Add:hover {
  transform: scale(1.1);
}

.Cancel {
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: #393f3f;;
  border: none;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
}

.Cancel:hover {
  transform: scale(1.1);
}